
.App-link {
  	color: #61dafb;
}

.App{
	background : #fafafa;
	min-height: 100vh;
}

.card-title{
	color: #56a3fb;
    position: relative;
    font-size: 24px;
    text-transform: capitalize;
    margin: 0;
    padding: 15px;
}

.App .btn-float{
	position: absolute;
    bottom: 70px;
    right: 50px;
    background: #35bda9;
    color: white;
	transition: all ease .2s !important;
}

.App .btn-float:hover{
    background: #27a08e;
}