.book{
    width: 700px;
    height: 490px;
    background: #646cce;
    margin: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    padding: 15px;
    filter: drop-shadow(0px 6px 0px #5056a5);
    transform: translateY(50px);
    color: #5056a5;
}

.book:after{
    content: "";
    display: block;
    height: 15px;
    width: 25px;
    background: #646cce;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 22px);
    border-left: 15px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.book-image{
    text-align: center;
}
.book-image img{
    max-width: 200px;
}
.pages {
    width: 100%;
    display: flex;
    box-shadow: 0px 8px 2px rgb(0 0 0 / 20%);
}
.page-content{
    padding: 0 15px;
    width: 100%;
}

.page.left-page:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    border-right: 10px solid #cccccc;
    border-top: 20px solid transparent;
    z-index: 20;
    border-left: 10px solid transparent;
}
.title{
    font-size: 23px;
    color: #5056a5;
}
.page.left-page:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: #cccccc;
    left: 0px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px #d9d9d9;
    z-index: 3;
}

.page {
    width: 50%;
    background: white;
    height: 100%;
    border-top: 4px solid rgba(0,0,0,0.2);
    position: relative;
    display: flex;
    align-items: center;
}

.left-page{
    border-right: 2px solid rgba(0,0,0,0.1);
    border-top-right-radius: 30px;
    border-left: 10px solid rgba(0,0,0,0.12);
}

.right-page{
    border-top-left-radius: 20px;
    border-right: 10px solid rgba(0,0,0,0.12);
}

.page.right-page:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -20px;
    border-left: 10px solid #cccccc;
    border-top: 20px solid transparent;
    z-index: 20;
    border-right: 10px solid transparent;
}

.page.right-page:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: #cccccc;
    left: 0px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px #d9d9d9;
    z-index: 3;
}

.login-content{
    background-image: url('../../public/bg2.jpg');
    height: calc(100vh - 50px);
    background-size: cover;
    background-color: #1ea4abad;
    background-blend-mode: overlay;
    padding-top: 50px;
}

button.btn-login{
    width: 97%;
    background: #ff4b03;
    margin: auto;
    display: flex;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: all ease .2s;
}
button.btn-login.loading{
    background: #cdd5f4;
}
button.btn-login:hover{
    background-color: #0dca5cad;
}

a{
    display: block;
    margin: 15px 0 0;
    text-decoration: none;
    color: #0389ff;
    cursor: pointer;
}

.lines{
    display: block;
    width: 90%;
    height: 15px;
    background: #ebe8e8;
    border-radius: 10px;
    margin: 15px 0;
}

.book-image-second-part{
    text-align: right;
    margin: 20px 0 0;
}
.book-image-second-part img{
    width: 120px;
}

.lines:nth-child(2) {
    width: 30%;
}
.lines:nth-child(3) {
    width: 60%;
}
.lines:last-child {
    width: 35%;
}