.App-header {
	width: 100%;
	height: 65px;
	background: #09f;
	box-shadow: 0 1px 4px rgb(0 0 0 / 30%) !important;
	background-image: linear-gradient(-45deg, #2196F3 0%, #2196F3 33%, #00BFA5 100%);
}

.header-title{
    text-transform: capitalize;
}